[Desktop Entry]
Exec=/home/tbs/.config/autostart/audio-restore.sh
Icon=dialog-scripts
Name=audio-restore.sh
Path=
Type=Application
X-KDE-AutostartScript=true
